# <font size="7">Data Visualization and Management Assignment <font>



<font size="3">       This research project discovers the relationship of unemployment and suicide rates of youth people from 15-24 years old from 2010 to 2014. The intention of the analysis is to illustrate the association of suicide with unemployment. The visualization mainly focuses on suicide and unemployment rates based on countries and years. 

Two datasets were obtained from Kaggle to reshape and visualize as follows: <br>
<br>
-	SuicideRate.csv Dataset.<br>
        https://www.kaggle.com/russellyates88/suicide-rates-overview-1985-to-2016<br>
        <br>
-	UnempRate.csv Dataset.<br>
        https://www.kaggle.com/sovannt/world-bank-youth-unemployment
</font>

---------

# Importing necessary packages and datasets

In [1]:
import pandas as pd
#import matplotlib.pyplot as plt
import warnings 
warnings.filterwarnings("ignore")
% matplotlib inline

UsageError: Line magic function `%` not found.

In [2]:
# Importing dataset files
suicide = pd.read_csv("./SuicideRate.csv")
unemp = pd.read_csv("./UnempRate.csv")

<font size="7"> _____Data Exploring and Cleaning__________</font>

#  Suicide.csv Dataset

In [3]:
suicide.head()

,country,year,sex,age,suicides_no,population,suicides/100k pop,country-year,HDI for year,gdp_for_year ($),gdp_per_capita ($),generation
0,Albania,1987,male,15-24 years,21,312900,6.71,Albania1987,NaN,"2,156,624,900",796,Generation X
1,Albania,1987,male,35-54 years,16,308000,5.19,Albania1987,NaN,"2,156,624,900",796,Silent
2,Albania,1987,female,15-24 years,14,289700,4.83,Albania1987,NaN,"2,156,624,900",796,Generation X
3,Albania,1987,male,75+ years,1,21800,4.59,Albania1987,NaN,"2,156,624,900",796,G.I. Generation
4,Albania,1987,male,25-34 years,9,274300,3.28,Albania1987,NaN,"2,156,624,900",796,Boomers

In [4]:
suicide.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27820 entries, 0 to 27819
Data columns (total 12 columns):
country               27820 non-null object
year                  27820 non-null int64
sex                   27820 non-null object
age                   27820 non-null object
suicides_no           27820 non-null int64
population            27820 non-null int64
suicides/100k pop     27820 non-null float64
country-year          27820 non-null object
HDI for year          8364 non-null float64
 gdp_for_year ($)     27820 non-null object
gdp_per_capita ($)    27820 non-null int64
generation            27820 non-null object
dtypes: float64(2), int64(4), object(6)
memory usage: 2.5+ MB

In [5]:
#Explore missing data
suicide.isnull().sum()

country                   0
year                      0
sex                       0
age                       0
suicides_no               0
population                0
suicides/100k pop         0
country-year              0
HDI for year          19456
 gdp_for_year ($)         0
gdp_per_capita ($)        0
generation                0
dtype: int64

In [6]:
#Dropping missing data columns and unnecessary columns
suicide.drop(['HDI for year',' gdp_for_year ($) ','gdp_per_capita ($)', 'generation',
            'population','suicides_no', 'country-year'], axis=1, inplace=True)
suicide.rename(columns={ 'country':'Country', 'year':'Year','suicides/100k pop':'suicide_Rate'},
             inplace=True)
suicide.head()

   Country  Year     sex          age  suicide_Rate
0  Albania  1987    male  15-24 years          6.71
1  Albania  1987    male  35-54 years          5.19
2  Albania  1987  female  15-24 years          4.83
3  Albania  1987    male    75+ years          4.59
4  Albania  1987    male  25-34 years          3.28

In [7]:
# Getting the column's names where age is 15-24
updatedate = suicide[(suicide['age'] != '15-24 years')].index
# Delete the other row indexes from dataFrame
suicide.drop(updatedate , inplace=True)

In [8]:
# Getting the column's names where year is less than 2010
updatedate = suicide[(suicide['Year'] < 2010) ].index
# Delete these row indexes from dataFrame
suicide.drop(updatedate , inplace=True)

In [9]:
# Getting the column's names where year is equal to 2015
updatedate = suicide[(suicide['Year'] == 2015) ].index 
# Delete these row indexes from dataFrame
suicide.drop(updatedate , inplace=True)

In [10]:
# Getting the column's names where year is equal to  2016
updatedate = suicide[(suicide['Year'] == 2016) ].index 
# Delete these row indexes from dataFrame
suicide.drop(updatedate , inplace=True)

In [11]:
#Final Prepared Suicide dataset
suicide.head()

                 Country  Year     sex          age  suicide_Rate
256              Albania  2010    male  15-24 years          3.58
261              Albania  2010  female  15-24 years          2.28
540  Antigua and Barbuda  2012  female  15-24 years          0.00
546  Antigua and Barbuda  2012    male  15-24 years          0.00
552  Antigua and Barbuda  2013  female  15-24 years          0.00

-----------------------------------------------------------------------------------------------------------------

# Unemployment.csv Dataset

In [12]:
#Viewing the Unemployment dataset
unemp.head()

,Country Name,Country Code,2010,2011,2012,2013,2014
0,Afghanistan,AFG,20.600000,20.900000,19.700001,21.100000,20.799999
1,Angola,AGO,10.800000,10.700000,10.700000,10.600000,10.500000
2,Albania,ALB,25.799999,27.000000,28.299999,28.700001,29.200001
3,Arab World,ARB,25.022214,28.117516,29.113212,29.335306,29.704569
4,United Arab Emirates,ARE,9.800000,9.800000,9.800000,9.900000,10.000000

In [13]:
unemp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 219 entries, 0 to 218
Data columns (total 7 columns):
Country Name    219 non-null object
Country Code    219 non-null object
2010            219 non-null float64
2011            219 non-null float64
2012            219 non-null float64
2013            219 non-null float64
2014            219 non-null float64
dtypes: float64(5), object(2)
memory usage: 12.1+ KB

In [14]:
#Explore missing data
unemp.isnull().sum()

Country Name    0
Country Code    0
2010            0
2011            0
2012            0
2013            0
2014            0
dtype: int64

In [15]:
#Dropping unnecessary columns and renaming dataframes
to_drop = ['Country Code']
unemp.rename(columns={ 'Country Name':'Country'}, inplace=True)
unemp.drop(to_drop, inplace=True, axis=1)

In [16]:
# Reshapping the dataset using Pandas.DataFraem.melt
undata = pd.melt(unemp, id_vars=["Country"], value_vars=['2010', '2011', '2012', '2013',
                                                         '2014'],
                 var_name= 'Year', value_name="Unemployment_Rate")

In [17]:
#Viewing the dataset after updating it
undata.head()

                Country  Year  Unemployment_Rate
0           Afghanistan  2010          20.600000
1                Angola  2010          10.800000
2               Albania  2010          25.799999
3            Arab World  2010          25.022214
4  United Arab Emirates  2010           9.800000

In [18]:
#sorting the data by country and year using Pandas.DataFraem.sort_values
data_sorted = undata.sort_values(["Country", "Year"])
data_sorted.head()

         Country  Year  Unemployment_Rate
0    Afghanistan  2010          20.600000
219  Afghanistan  2011          20.900000
438  Afghanistan  2012          19.700001
657  Afghanistan  2013          21.100000
876  Afghanistan  2014          20.799999

In [19]:
data_sorted.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1095 entries, 0 to 1094
Data columns (total 3 columns):
Country              1095 non-null object
Year                 1095 non-null object
Unemployment_Rate    1095 non-null float64
dtypes: float64(1), object(2)
memory usage: 34.2+ KB

In [20]:
# Changing the Year dataFrame type from object to integer to combine it with the other dataset
data_sorted['Year'] = data_sorted['Year'].astype(int)

In [21]:
#Data types after changing the Year type
data_sorted.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1095 entries, 0 to 1094
Data columns (total 3 columns):
Country              1095 non-null object
Year                 1095 non-null int64
Unemployment_Rate    1095 non-null float64
dtypes: float64(1), int64(1), object(1)
memory usage: 34.2+ KB

--------------

# Prepare Suicide.csv Dataset to Merge

In [22]:
#group the data by country and year to sum the suicide rate using Pandas.DataFraem.groupby
suicide.groupby(['Country','Year'], as_index=False).agg({"suicide_Rate": "sum"},inplace=True)
suicide.head()

                 Country  Year     sex          age  suicide_Rate
256              Albania  2010    male  15-24 years          3.58
261              Albania  2010  female  15-24 years          2.28
540  Antigua and Barbuda  2012  female  15-24 years          0.00
546  Antigua and Barbuda  2012    male  15-24 years          0.00
552  Antigua and Barbuda  2013  female  15-24 years          0.00

----------

<font size="7"> _____Merging Datasets__________</font>

In [23]:
# Merging the two datasets to find the relationship of features using Pandas.DataFraem.merge
mergedata = pd.merge(suicide, data_sorted, on=['Country','Year'], how='outer' )

In [24]:
#View the merged data
mergedata.head()

,Country,Year,sex,age,suicide_Rate,Unemployment_Rate
0,Albania,2010,male,15-24 years,3.58,25.799999
1,Albania,2010,female,15-24 years,2.28,25.799999
2,Antigua and Barbuda,2012,female,15-24 years,0.00,NaN
3,Antigua and Barbuda,2012,male,15-24 years,0.00,NaN
4,Antigua and Barbuda,2013,female,15-24 years,0.00,NaN

In [25]:
#Checking on null valuse
mergedata.isnull().sum()

Country                0
Year                   0
sex                  725
age                  725
suicide_Rate         725
Unemployment_Rate     86
dtype: int64

---------

# Cleaning Merged Datasets' Null Values

In [26]:
# Cleaning the data from null valuse using Pandas.DataFraem.dropna
cleandata = mergedata.dropna()

In [27]:
cleandata.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 740 entries, 0 to 825
Data columns (total 6 columns):
Country              740 non-null object
Year                 740 non-null int64
sex                  740 non-null object
age                  740 non-null object
suicide_Rate         740 non-null float64
Unemployment_Rate    740 non-null float64
dtypes: float64(2), int64(1), object(3)
memory usage: 40.5+ KB

In [28]:
#Check if there is any null values
cleandata.isnull().sum()

Country              0
Year                 0
sex                  0
age                  0
suicide_Rate         0
Unemployment_Rate    0
dtype: int64

In [29]:
#Final merged dataset values
cleandata.head()

      Country  Year     sex          age  suicide_Rate  Unemployment_Rate
0     Albania  2010    male  15-24 years          3.58          25.799999
1     Albania  2010  female  15-24 years          2.28          25.799999
8   Argentina  2010    male  15-24 years         19.77          19.500000
9   Argentina  2010  female  15-24 years          4.47          19.500000
10  Argentina  2011    male  15-24 years         19.96          18.799999

-------

<font size="7"> _____Data Visualization__________</font>

# Suicide Rate by Gender

In [30]:
#Grouping the data by years and gender using pandas dataframe.groupby
gender = suicide.groupby(['Year','sex'], as_index=False).agg({"suicide_Rate": "sum"},
                                                           inplace=True)
gender

   Year     sex  suicide_Rate
0  2010  female        348.25
1  2010    male       1055.13
2  2011  female        364.82
3  2011    male       1082.94
4  2012  female        341.06
5  2012    male       1022.54
6  2013  female        330.61
7  2013    male        978.84
8  2014  female        289.54
9  2014    male        903.21

In [31]:
# Reshape the dataframes to plot using pandas.DataFrame.pivot
suigendata = gender.pivot(index='Year',columns='sex', values='suicide_Rate')

In [32]:
suigendata

sex   female     male
Year
2010  348.25  1055.13
2011  364.82  1082.94
2012  341.06  1022.54
2013  330.61   978.84
2014  289.54   903.21

In [33]:
# Plotting the Suicide rate by gender over the years with plotly.graph

import plotly
import plotly.offline as pyo
import plotly.graph_objs as go
plotly.offline.init_notebook_mode(connected=True)



trace0 = go.Bar(
        x= suigendata.index,
        y= suigendata.male,
        name= "Male",
        marker = dict(color = 'royalblue')
)

trace1 = go.Bar(
        x= suigendata.index,
        y= suigendata.female,
        name = 'Female',
        marker = dict(color = 'lightpink')
)

data = [trace0, trace1]


layout = go.Layout(
    barmode='group',
    title='Suicide Rate by Gender<br> from 2010 to 2014',
    titlefont = dict(
         family='Old Standard TT, serif',
        size = 25,
        color = 'Black'
    ),
    xaxis=go.layout.XAxis(
        color = 'Black',
         title = "Years",
         titlefont=dict(
            family='Old Standard TT, serif',
            size=18,
            color='black'
                ),
    ),
     yaxis= dict(
         color = 'black',
         title = "Suicide Rate",
          titlefont=dict(
            family='Old Standard TT, serif',
            size=18,
            color='black'
                ),
    ),
                
)


pyo.iplot({"data":data, "layout":layout})

<font size="3">It is presented from the above bar chart that the majority of suicides were males compared to females during all five years from 2010 to 2014. Moreover, it is clear that the suicide rate is decreasing gradually.</font>

---------------------------------------

# Suicide and Unemployment Rate from 2010 to 2014

In [34]:
#Groupping the data by years to visualize the sum of rates by years
Rate_year = cleandata.groupby('Year', as_index=False).agg({"Unemployment_Rate": "sum",
                                                        "suicide_Rate": "sum"},inplace=True)

In [35]:
Rate_year.head()

   Year  Unemployment_Rate  suicide_Rate
0  2010        3083.199994       1327.99
1  2011        3134.799991       1358.14
2  2012        2908.199995       1258.05
3  2013        2848.400016       1226.97
4  2014        2816.199990       1117.82

In [36]:
# Plot rates by years with plotly.graph_objs.Scatter

trace0 = go.Scatter(
    x = Rate_year.Year,
    y = Rate_year.Unemployment_Rate,
    mode = 'markers+lines',
    name = 'Unemployment Rate'
)
trace1 = go.Scatter(
    x = Rate_year.Year,
    y = Rate_year.suicide_Rate,
    mode = 'markers+lines',
    name = 'Suicide Rate', 
)


data = [trace0, trace1]

layout = go.Layout(
     title='Unemployment and Suicide Rate from 2010 to 2014',
    titlefont = dict(
         family='Old Standard TT, serif',
        size = 25,
        color = 'Black'
    ),
    
    xaxis=dict(
        title='Year',
        titlefont=dict(
            family='Old Standard TT, serif',
            size=18,
            color='black'
                ),
        
        dtick = 1,
        showticklabels=True,
        
        tickfont=dict(
            family='Old Standard TT, serif',
            size=14,
            color='black'
                ),
            ),

     yaxis=dict(
        title='Rate',
        titlefont=dict(
            family='Old Standard TT, serif',
            size=18,
            color='black'
                ),
        showticklabels=True,
        tickfont=dict(
            family='Old Standard TT, serif',
            size=14,
            color='black'
                    ),
             )
)

fig = go.Figure(data=data, layout=layout)
pyo.iplot(fig)

<font size="3">The chart above discloses the relationship between Unemployment and suicide, where it proves that if there were an increase in unemployment rate there will be an increase in the suicide rate and vice versa. Hence, it can be concluded that the suicide rate is proportional to the unemployment rate.</font>

------

# Suicide Rate By Country and Year

<font size="3">Here the suicide values were extracted from the merged data based on the country and reshaped the data and cleadned null values to plot suicide rate for each country by years.</font>

In [37]:
# groupping data by country and years
suicountdata = cleandata.groupby(['Country','Year'],as_index=False).agg({"suicide_Rate": "sum"},
                                                                       inplace=True)

In [38]:
suicountdata.head()

     Country  Year  suicide_Rate
0    Albania  2010          5.86
1  Argentina  2010         24.24
2  Argentina  2011         25.06
3  Argentina  2012         27.43
4  Argentina  2013         24.89

In [39]:
# Change the Year dataFrame from integer to object to be able to plot it on bar chart
suicountdata['Year'] = suicountdata['Year'].astype(str)

In [40]:
#Reshape columns to plot using Pandas.DataFraem.pivot
suiyears = suicountdata.pivot( index= 'Country',columns='Year')['suicide_Rate'].reset_index()
suiyears.columns.name = None

In [41]:
#Dataset after reshapping
suiyears.head()

     Country   2010   2011   2012   2013   2014
0    Albania   5.86    NaN    NaN    NaN    NaN
1  Argentina  24.24  25.06  27.43  24.89  27.15
2    Armenia   3.91   4.39   2.74   1.23   2.18
3  Australia  18.97  21.63  20.99  23.06  23.20
4    Austria  20.35  17.55  13.91  14.44  18.73

In [42]:
# Dropping null values
suiyears.dropna(inplace=True)

In [43]:
# Plot suicide rate in bar chart by country and years with plotly.graph_objs.Bar

data = [
    go.Bar(
        x=suiyears['Country'],
        y=suiyears['2010'],
        name='Year 2010',
        text = suiyears['Country']
    ),
    go.Bar(
        x=suiyears['Country'], 
        y=suiyears['2011'],
        name='Year 2011',
        text = suiyears['Country']
    ),
    go.Bar(
       x=suiyears['Country'], 
        y=suiyears['2012'],
        name='Year 2012',
        text = suiyears['Country']
    ),
    go.Bar(
        x=suiyears['Country'], 
        y=suiyears['2013'],
        name='Year 2013',
        text = suiyears['Country']
    ),
    go.Bar(
        x=suiyears['Country'], 
        y=suiyears['2014'],
        name='Year 2014',
        text = suiyears['Country']
    )
    

]

layout = go.Layout(
    barmode='stack',
    title='Suicide Rate By Country and Year',
    titlefont = dict(
        size = 25,
        color = 'Black',
            family='Old Standard TT, serif',        
    ),
    xaxis=go.layout.XAxis(
        tickangle= 45,
        color = 'Black',
        title = "Country",
        tickfont=dict(
            family='Old Standard TT, serif',
            size=14,
            color='black'
                    ),
    ),
     yaxis= dict(
         color = 'black',
         title = "Suicide Rate",
         tickfont=dict(
            family='Old Standard TT, serif',
            size=14,
            color='black'
                    ),
    ),
)

fig = go.Figure(data=data, layout=layout)
pyo.iplot(fig)

<font size="3"> From the chart above it is clear that <strong>Suriname</strong> has the most suicide rate Compared to other countries from year 2010 to 2013. Whereas, in year 2014 <strong>Latvia</strong> had the most suicide rate. On the other hand, <strong>Bahrain</strong> and <strong>South Africa</strong> has the least number of suicides for all five years. </font>

-------

# Unemployment Rate By Country and Year

<font size="3">The unemployment values were extracted from the merged data based on the country and reshaped the data and cleadned null values to plot unemployment rate of each country by years.</font>

In [44]:
# groupping data by country and years
empcountdata=cleandata.groupby(['Country','Year'],as_index=False).agg({"Unemployment_Rate":"sum"},
                                                                      inplace=True)

In [45]:
empcountdata.head()

     Country  Year  Unemployment_Rate
0    Albania  2010          51.599998
1  Argentina  2010          39.000000
2  Argentina  2011          37.599998
3  Argentina  2012          36.799999
4  Argentina  2013          39.400002

In [46]:
# Change the Year dataFrame from integer to object to be able to plot it on bar chart
empcountdata['Year'] = empcountdata['Year'].astype(str)

In [47]:
#Reshape columns to plot using Pandas.DataFraem.pivot
empyears = empcountdata.pivot( index= 'Country',
                            columns='Year')['Unemployment_Rate'].reset_index()
empyears.columns.name = None

In [48]:
#Dataset after reshapping
empyears.head()

     Country       2010       2011       2012       2013       2014
0    Albania  51.599998        NaN        NaN        NaN        NaN
1  Argentina  39.000000  37.599998  36.799999  39.400002  42.599998
2    Armenia  76.599998  77.400002  70.000000  65.000000  70.199997
3  Australia  22.799999  22.799999  23.400000  24.400000  26.200001
4    Austria  17.600000  16.400000  17.400000  18.200001  18.400000

In [49]:
# Dropping null values
empdataupdate=empyears.dropna()

In [50]:
# Plot unemployment rate in bar chart by country and years with plotly.graph_objs.Bar

data = [
    go.Bar(
        x=empdataupdate['Country'],
        y=empdataupdate['2010'],
        name='Year 2010',
        text = empdataupdate['Country']
    ),
    go.Bar(
        x=empdataupdate['Country'], 
        y=empdataupdate['2011'],
        name='Year 2011',
        text = empdataupdate['Country']
    ),
    go.Bar(
       x=empdataupdate['Country'], 
        y=empdataupdate['2012'],
        name='Year 2012',
        text = empdataupdate['Country']
    ),
    go.Bar(
        x=empdataupdate['Country'], 
        y=empdataupdate['2013'],
        name='Year 2013',
        text = empdataupdate['Country']
    ),
    go.Bar(
        x=empdataupdate['Country'], 
        y=empdataupdate['2014'],
        name='Year 2014',
        text = empdataupdate['Country']
    )
    

]

layout = go.Layout(
    barmode='stack',
    title='Unemployment Rate By Country and Year',
    titlefont = dict(
        family='Old Standard TT, serif',
        size = 25,
        color = 'Black'
    ),
    xaxis=go.layout.XAxis(
        tickangle= 45,
        color = 'Black',
         title = "Country",
         tickfont=dict(
            family='Old Standard TT, serif',
            size=14,
            color='black'
                    ),
    ),
     yaxis= dict(
         color = 'black',
         title = "Unemployment Rate",
          tickfont=dict(
            family='Old Standard TT, serif',
            size=14,
            color='black'
                    ),
    ),
)

fig = go.Figure(data=data, layout=layout)
pyo.iplot(fig)

<font size="3">The above graph represente the unemployment rate of each country by years. it is shown that <strong>South Africa</strong> and <strong>Spain</strong> had the most unemployment rates. While <strong> Qatar  </strong>had the least number of unemployment which might be due to their good economy. </font>

------

# Mapping Youth Suicide and Unemployment Rates from 2010 to 2014

In [51]:
#group the data by country and year to sum the suicide and unemployment rates
grouping = cleandata.groupby('Country', as_index=False).agg({"suicide_Rate": "sum",
                                           "Unemployment_Rate": "sum"},inplace=True)

In [52]:
grouping.head()

     Country  suicide_Rate  Unemployment_Rate
0    Albania          5.86          51.599998
1  Argentina        128.77         195.399998
2    Armenia         14.45         359.199997
3  Australia        107.85         119.599998
4    Austria         84.98          88.000000

In [53]:
# Plot suicide rate in map

data1 = [ dict(
   
        type = 'choropleth',
        locations = grouping['Country'],
        locationmode = 'country names',
        z = grouping['suicide_Rate'],
        text = grouping['Country'],
    
        autocolorscale = True,
        reversescale = False,
        marker = dict(
            line = dict (
                color = 'rgb(190,190,190)',
                width = 0.5
            ) ),
        colorbar = dict(
            autotick = False,
            title = 'Suicide Rate',
        titlefont = dict(
        family='Old Standard TT, serif',
        size = 15,
        color = 'Black'
    ),),
)]


layout =  dict(
    title = 'Youth Suicide Rate by Country<br> from 2010 to 2014',
    titlefont = dict(
        family='Old Standard TT, serif',
        size = 25,
        color = 'Black'
    ),
       
 geo = go.layout.Geo(
        showframe = False,
        showcoastlines = True,
))

fig = dict( data=data1, layout=layout )
pyo.iplot( fig, validate=False)

<font size="3"><strong>Suriname, Guyana</strong> and <strong>Lithuania</strong>, from the visualization above, had the most number of suicides from 2010 to 2014 which are denoted in dark red. while <strong>Oman</strong> has the least numbers of suicides in gray.</font>

----------

# Mapping Youth Unemployment Rate from 2010 to 2014

In [54]:
# Plot unemployment rate in map

data = [ dict(
        type = 'choropleth',
        locations = grouping['Country'],
        locationmode = 'country names',
        z = grouping['Unemployment_Rate'],
        text = grouping['Country'],
        colorscale='Viridis',
        autocolorscale = False,
        reversescale = True,
    
        marker = dict(
            line = dict (
                color = 'rgb(180,180,180)',
                width = 0.5
            )),
        colorbar = dict(
            autotick = True,
            title = 'Unemployment Rate',
          titlefont = dict(
        family='Old Standard TT, serif',
        size = 15,
        color = 'Black'
    ),)
    
)]


layout = dict(
        title = 'Youth Unemployment Rate by Country<br> from 2010 to 2014',
        titlefont = dict(  
        family='Old Standard TT, serif',
        size = 25,
        color = 'Black'
    ),
     
 geo = go.layout.Geo(
        showframe = False,
        showcoastlines = True,
),

legend=go.layout.Legend(
                orientation="h",))



fig = dict( data=data, layout=layout )
pyo.iplot( fig, validate=False)

<font size="3">The map clearly Identifies the most unemployment rate countries which are <strong>Spian, South Africa</strong> and <strong>Serbia</strong>, pointed with dark blue colore. On the other hand, the least country with least unemployment rate is <strong>Qatar</strong> with a rate of only 14.6 </font>

------

# Results

<font size="3">As shown on suicide and unemployment rates from 2010 to 2014 the data may reveal some differences regarding the relationship of suicides with unemployment. The map shows that <strong>Suriname</strong> had the most suicide rates while it did not have high unemployment rate. These contrasts can be due to other reasons and factors other than unemployment such as, their poor economic conditions and the lack of public and ambulant mental healthcare systems. Furthermore, the different association between suicide and unemployment for <strong>South Africa</strong> with its high unemployment and low suicides, which likewise was affected by other factors such as religious reasons where it acts as a protection factor against attempting suicide. <br>
On the other hand, there are some proportional relationships on other countries like <strong>Lithuania, Russian Federation, Argentina </strong>and <strong>Chile</strong> where they have high unemployment rate as well as a high suicide rate.</font>

# Razan Alsulieman - PNU&DCU