# Data Visualization and Management Assignment

---------

In [51]:
import pandas as pd
import matplotlib.pyplot as plt
import warnings 
warnings.filterwarnings("ignore")
% matplotlib inline

UsageError: Line magic function `%` not found.

In [2]:
# Importing dataset files
sdata = pd.read_csv("/Users/rzanabdullah/Desktop/Master/NewData/SuicideRate.csv")
udata = pd.read_csv("/Users/rzanabdullah/Desktop/Master/NewData/UnempRate.csv")

# Exploring and cleaning Suicide.csv dataset

In [3]:
sdata.head()

,country,year,sex,age,suicides_no,population,suicides/100k pop,country-year,HDI for year,gdp_for_year ($),gdp_per_capita ($),generation
0,Albania,1987,male,15-24 years,21,312900,6.71,Albania1987,NaN,"2,156,624,900",796,Generation X
1,Albania,1987,male,35-54 years,16,308000,5.19,Albania1987,NaN,"2,156,624,900",796,Silent
2,Albania,1987,female,15-24 years,14,289700,4.83,Albania1987,NaN,"2,156,624,900",796,Generation X
3,Albania,1987,male,75+ years,1,21800,4.59,Albania1987,NaN,"2,156,624,900",796,G.I. Generation
4,Albania,1987,male,25-34 years,9,274300,3.28,Albania1987,NaN,"2,156,624,900",796,Boomers

In [4]:
sdata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27820 entries, 0 to 27819
Data columns (total 12 columns):
country               27820 non-null object
year                  27820 non-null int64
sex                   27820 non-null object
age                   27820 non-null object
suicides_no           27820 non-null int64
population            27820 non-null int64
suicides/100k pop     27820 non-null float64
country-year          27820 non-null object
HDI for year          8364 non-null float64
 gdp_for_year ($)     27820 non-null object
gdp_per_capita ($)    27820 non-null int64
generation            27820 non-null object
dtypes: float64(2), int64(4), object(6)
memory usage: 2.5+ MB

In [5]:
#Explore missing data
sdata.isnull().sum()

country                   0
year                      0
sex                       0
age                       0
suicides_no               0
population                0
suicides/100k pop         0
country-year              0
HDI for year          19456
 gdp_for_year ($)         0
gdp_per_capita ($)        0
generation                0
dtype: int64

In [6]:
#Dropping missing data columns and unnecessary columns
sdata.drop(['HDI for year',' gdp_for_year ($) ','gdp_per_capita ($)', 'generation','population'], axis=1, inplace=True)
sdata.rename(columns={ 'country':'Country', 'year':'Year','suicides/100k pop':'suicide_Rate'}, inplace=True)
sdata.head()

   Country  Year     sex          age  suicides_no  suicide_Rate country-year
0  Albania  1987    male  15-24 years           21          6.71  Albania1987
1  Albania  1987    male  35-54 years           16          5.19  Albania1987
2  Albania  1987  female  15-24 years           14          4.83  Albania1987
3  Albania  1987    male    75+ years            1          4.59  Albania1987
4  Albania  1987    male  25-34 years            9          3.28  Albania1987

In [7]:
# Getting the column's names where age is 15-24
update = sdata[(sdata['age'] != '15-24 years')].index
# Delete the other row indexes from dataFrame
sdata.drop(update , inplace=True)

In [8]:
# Getting the column's names where year is less than 2010
update = sdata[(sdata['Year'] < 2010) ].index
# Delete these row indexes from dataFrame
sdata.drop(update , inplace=True)

In [9]:
# Getting the column's names where year is equal to 2015
update = sdata[(sdata['Year'] == 2015) ].index
# Delete these row indexes from dataFrame
sdata.drop(update , inplace=True)

In [10]:
# Getting the column's names where year is equal to 2016
update = sdata[(sdata['Year'] == 2016) ].index
# Delete these row indexes from dataFrame
sdata.drop(update , inplace=True)

In [11]:
#Final Prepared Suicide dataset
sdata.head()

,Country,Year,sex,age,suicides_no,suicide_Rate,country-year
256,Albania,2010,male,15-24 years,10,3.58,Albania2010
261,Albania,2010,female,15-24 years,6,2.28,Albania2010
540,Antigua and Barbuda,2012,female,15-24 years,0,0.00,Antigua and Barbuda2012
546,Antigua and Barbuda,2012,male,15-24 years,0,0.00,Antigua and Barbuda2012
552,Antigua and Barbuda,2013,female,15-24 years,0,0.00,Antigua and Barbuda2013

---------------------------------------

# Suicide Rate by Gender             -------------- OK üëç  --------

In [12]:
gender = sdata.groupby(['Year','sex'], as_index=False).agg({"suicide_Rate": "sum"}, inplace=True)
gender

   Year     sex  suicide_Rate
0  2010  female        348.25
1  2010    male       1055.13
2  2011  female        364.82
3  2011    male       1082.94
4  2012  female        341.06
5  2012    male       1022.54
6  2013  female        330.61
7  2013    male        978.84
8  2014  female        289.54
9  2014    male        903.21

In [13]:
suigendata = gender.pivot(index='Year',columns='sex', values='suicide_Rate')

In [14]:
suigendata

sex   female     male
Year
2010  348.25  1055.13
2011  364.82  1082.94
2012  341.06  1022.54
2013  330.61   978.84
2014  289.54   903.21

In [52]:
# Plot Suicide rate by gender over the years with Pandas

import plotly.offline as pyo

import plotly
import plotly.graph_objs as go
plotly.offline.init_notebook_mode(connected=True)



trace0 = go.Bar(
        x= suigendata.index,
        y= suigendata.male,
        name= "Male",
        marker = dict(color = 'royalblue')
)

trace1 = go.Bar(
        x= suigendata.index,
        y= suigendata.female,
        name = 'Female',
        marker = dict(color = 'lightpink')
)

data = [trace0, trace1]

layout = {"title":"Suicide Rate by Gender",
         "xaxis":{"title":"Years"},
         "yaxis":{"title":"Suicide Rate"},
         "barmode":"group"}

pyo.plot({"data":data, "layout":layout})

'file:///Users/rzanabdullah/temp-plot.html'

With Pandas bar chart we can present that majority of suicides which were males during all five years from 2010 to 2014. Moreover, we can see that the suicide rate is decreasing gradually.

-----------------------------------------------------------------------------------------------------------------

# Exploring Unemployment.csv dataset

In [16]:
udata.head()

,Country Name,Country Code,2010,2011,2012,2013,2014
0,Afghanistan,AFG,20.600000,20.900000,19.700001,21.100000,20.799999
1,Angola,AGO,10.800000,10.700000,10.700000,10.600000,10.500000
2,Albania,ALB,25.799999,27.000000,28.299999,28.700001,29.200001
3,Arab World,ARB,25.022214,28.117516,29.113212,29.335306,29.704569
4,United Arab Emirates,ARE,9.800000,9.800000,9.800000,9.900000,10.000000

In [17]:
udata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 219 entries, 0 to 218
Data columns (total 7 columns):
Country Name    219 non-null object
Country Code    219 non-null object
2010            219 non-null float64
2011            219 non-null float64
2012            219 non-null float64
2013            219 non-null float64
2014            219 non-null float64
dtypes: float64(5), object(2)
memory usage: 12.1+ KB

In [18]:
#Explore missing data
udata.isnull().sum()

Country Name    0
Country Code    0
2010            0
2011            0
2012            0
2013            0
2014            0
dtype: int64

In [19]:
#Dropping unnecessary columns
to_drop = ['Country Code']
udata.rename(columns={ 'Country Name':'Country_year'}, inplace=True)
udata.drop(to_drop, inplace=True, axis=1)

In [20]:
# Reshapping the dataset
undata = pd.melt(udata, id_vars=["Country_year"], value_vars=['2010', '2011', '2012', '2013', '2014'],
                 var_name= 'Year', value_name="Unemployment_Rate")

In [21]:
undata.head()

           Country_year  Year  Unemployment_Rate
0           Afghanistan  2010          20.600000
1                Angola  2010          10.800000
2               Albania  2010          25.799999
3            Arab World  2010          25.022214
4  United Arab Emirates  2010           9.800000

In [22]:
#sorting the data by country and year
data_sorted = undata.sort_values(["Country_year", "Year"])
data_sorted.head()

    Country_year  Year  Unemployment_Rate
0    Afghanistan  2010          20.600000
219  Afghanistan  2011          20.900000
438  Afghanistan  2012          19.700001
657  Afghanistan  2013          21.100000
876  Afghanistan  2014          20.799999

In [23]:
#Copping country column for forther needs
data_sorted['Country'] = data_sorted['Country_year']

In [24]:
data_sorted['Country_year'] = data_sorted['Country_year'].str.cat(data_sorted['Year'],sep="")

In [25]:
data_sorted.head()

        Country_year  Year  Unemployment_Rate      Country
0    Afghanistan2010  2010          20.600000  Afghanistan
219  Afghanistan2011  2011          20.900000  Afghanistan
438  Afghanistan2012  2012          19.700001  Afghanistan
657  Afghanistan2013  2013          21.100000  Afghanistan
876  Afghanistan2014  2014          20.799999  Afghanistan

--------------

# Prepare Suicide.csv dataset to merge with Unemployment.csv dataset

In [26]:
#group the data by country and year to sum the suicide rate
suigroup = sdata.groupby(['country-year','Country'], as_index=False).agg({"suicides_no": "sum","suicide_Rate": "sum"}, 
                                                             inplace=True)

In [27]:
#renaming the dataframes names to match the other csv file to merge
suigroup.rename(columns={"country-year":"Country_year","country": "Country"}, inplace=True)

In [28]:
suigroup.head()

              Country_year              Country  suicides_no  suicide_Rate
0              Albania2010              Albania           16          5.86
1  Antigua and Barbuda2012  Antigua and Barbuda            0          0.00
2  Antigua and Barbuda2013  Antigua and Barbuda            0          0.00
3  Antigua and Barbuda2014  Antigua and Barbuda            0          0.00
4            Argentina2010            Argentina          833         24.24

----------

# Merging Suicide.csv dataset and Unemployment.csv dataset

In [29]:
# After cleaning the data we merge the two datasets to find the relationship of features using pandas merge library
mergedata = pd.merge(suigroup, data_sorted, on=['Country_year','Country'], how='outer' )

In [30]:
#View the merged data
mergedata.head()

,Country_year,Country,suicides_no,suicide_Rate,Year,Unemployment_Rate
0,Albania2010,Albania,16.0,5.86,2010,25.799999
1,Antigua and Barbuda2012,Antigua and Barbuda,0.0,0.00,NaN,NaN
2,Antigua and Barbuda2013,Antigua and Barbuda,0.0,0.00,NaN,NaN
3,Antigua and Barbuda2014,Antigua and Barbuda,0.0,0.00,NaN,NaN
4,Argentina2010,Argentina,833.0,24.24,2010,19.500000

In [31]:
#Checking on null valuse
mergedata.isnull().sum()

Country_year           0
Country                0
suicides_no          725
suicide_Rate         725
Year                  43
Unemployment_Rate     43
dtype: int64

---------

# Cleaning merged datasets null values

In [32]:
# Cleaning the data from null valuse
cleandata = mergedata.dropna()

In [33]:
cleandata.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 370 entries, 0 to 412
Data columns (total 6 columns):
Country_year         370 non-null object
Country              370 non-null object
suicides_no          370 non-null float64
suicide_Rate         370 non-null float64
Year                 370 non-null object
Unemployment_Rate    370 non-null float64
dtypes: float64(3), object(3)
memory usage: 20.2+ KB

In [34]:
#Check if there is any null values
cleandata.isnull().sum()

Country_year         0
Country              0
suicides_no          0
suicide_Rate         0
Year                 0
Unemployment_Rate    0
dtype: int64

In [35]:
#Final merged dataset values
cleandata.head()

,Country_year,Country,suicides_no,suicide_Rate,Year,Unemployment_Rate
0,Albania2010,Albania,16.0,5.86,2010,25.799999
4,Argentina2010,Argentina,833.0,24.24,2010,19.500000
5,Argentina2011,Argentina,865.0,25.06,2011,18.799999
6,Argentina2012,Argentina,949.0,27.43,2012,18.400000
7,Argentina2013,Argentina,863.0,24.89,2013,19.700001

-------

# Unemployment and Suicide Rate from 2010 to 2014 ----------- OK üëç -----------

In [36]:
#Groupping the data by years to visualize the sum of rates by years
Rate_year = cleandata.groupby('Year', as_index=False).agg({"Unemployment_Rate": "sum","suicide_Rate": "sum"}, inplace=True)

In [37]:
Rate_year.head()

   Year  Unemployment_Rate  suicide_Rate
0  2010        1541.599997       1327.99
1  2011        1567.399996       1358.14
2  2012        1454.099998       1258.05
3  2013        1424.200008       1226.97
4  2014        1408.099995       1117.82

In [53]:
# Plot rates by years with Scatter

trace0 = go.Scatter(
    x = Rate_year.Year,
    y = Rate_year.Unemployment_Rate,
    mode = 'markers+lines',
    name = 'Unemployment Rate'
)
trace1 = go.Scatter(
    x = Rate_year.Year,
    y = Rate_year.suicide_Rate,
    mode = 'markers+lines',
    name = 'Suicide Rate',
    
)


data = [trace0, trace1]

layout = go.Layout(
    xaxis=dict(
        title='Year',
        titlefont=dict(
            family='Old Standard TT, serif',
            size=18,
            color='black'
                ),
        dtick = 1,
        showticklabels=True,
        tickfont=dict(
            family='Old Standard TT, serif',
            size=14,
            color='black'
                ),
            ),

     yaxis=dict(
        title='Rate',
        titlefont=dict(
            family='Old Standard TT, serif',
            size=18,
            color='black'
                ),
        showticklabels=True,
        tickfont=dict(
            family='Old Standard TT, serif',
            size=14,
            color='black'
                    ),
             )
)

fig = go.Figure(data=data, layout=layout)
pyo.plot(fig, filename='line-mode')

'file:///Users/rzanabdullah/line-mode.html'

We can see from the chart above that the unemployment rate has slightly decreased over the years, while the suicide rate has noticeably decreased in 2014.

------

# Unemployment Rate By Country and Year-------------- Good üëçüèª ---------

Here we extracted from the merged data the unemployment valuse based on the country and reshaped the data and cleadned null values to plot unemployment rate by countries and years.

In [39]:
empcondata = cleandata.groupby(['Country','Year'], as_index=False).agg({"Unemployment_Rate": "sum"}, inplace=True)

In [40]:
empcondata.head()

     Country  Year  Unemployment_Rate
0    Albania  2010          25.799999
1  Argentina  2010          19.500000
2  Argentina  2011          18.799999
3  Argentina  2012          18.400000
4  Argentina  2013          19.700001

In [41]:
#Reshape columns to plot
empyears = empcondata.pivot( index= 'Country',columns='Year')['Unemployment_Rate'].reset_index()
empyears.columns.name = None

In [42]:
#Dataset after reshapping
empyears.head()

     Country       2010       2011  2012       2013       2014
0    Albania  25.799999        NaN   NaN        NaN        NaN
1  Argentina  19.500000  18.799999  18.4  19.700001  21.299999
2    Armenia  38.299999  38.700001  35.0  32.500000  35.099998
3  Australia  11.400000  11.400000  11.7  12.200000  13.100000
4    Austria   8.800000   8.200000   8.7   9.100000   9.200000

In [43]:
empdataup=empyears.dropna()

In [54]:
# Plot unemployment rate in bar chart by country and years with Pandas

data = [
    go.Bar(
        x=empdataup['Country'],
        y=empdataup['2010'],
        name='Year 2010',
        text = empdataup['Country']
    ),
    go.Bar(
        x=empdataup['Country'], 
        y=empdataup['2011'],
        name='Year 2011',
        text = empdataup['Country']
    ),
    go.Bar(
       x=empdataup['Country'], 
        y=empdataup['2012'],
        name='Year 2012',
        text = empdataup['Country']
    ),
    go.Bar(
        x=empdataup['Country'], 
        y=empdataup['2013'],
        name='Year 2013',
        text = empdataup['Country']
    ),
    go.Bar(
        x=empdataup['Country'], 
        y=empdataup['2014'],
        name='Year 2014',
        text = empdataup['Country']
    )
    

]

layout = go.Layout(
    barmode='stack',
    title='Unemployment Rate By Country and Year'
)

fig = go.Figure(data=data, layout=layout)
pyo.plot({"data":data, "layout":layout})

'file:///Users/rzanabdullah/temp-plot.html'

We can find the unemployment rate for each country by years in the above figure.

-------

# Mapping youth Suicide Rate from 2010 to 2014

In [45]:
#group the data by country and year to sum the suicide rate
sugroup = cleandata.groupby('Country', as_index=False).agg({"suicide_Rate": "sum"}, inplace=True)

In [46]:
sugroup.head()

     Country  suicide_Rate
0    Albania          5.86
1  Argentina        128.77
2    Armenia         14.45
3  Australia        107.85
4    Austria         84.98

In [47]:
# Plot suicide rate in map

data1 = [ dict(
   
        type = 'choropleth',
        locations = sugroup['Country'],
        locationmode = 'country names',
        z = sugroup['suicide_Rate'],
        text = sugroup['Country'],
    
        autocolorscale = True,
        reversescale = False,
        marker = dict(
            line = dict (
                color = 'rgb(190,190,190)',
                width = 0.5
            ) ),
        colorbar = dict(
            autotick = False,
            tickprefix = '',
            title = 'Suicide Rate'),
)]

layout = {"title":"Youth Suicide Rate by Country from 2010 to 2014"}



fig = dict( data=data1, layout=layout )
plotly.offline.iplot( fig, validate=False, filename='loans-world-map')

From above visualization we can find that Suriname, Guyana and Lithuania which are denoted in dark red has the most suicide rates from 2010 to 2014. while Oman has the least numbers of suicides in gray.

----------

# Mapping youth Unemployment Rate from 2010 to 2014

In [48]:
#group the data by country and year to sum the suicide rate
unemplgroup = cleandata.groupby('Country', as_index=False).agg({"Unemployment_Rate": "sum"}, inplace=True)

In [49]:
unemplgroup.head()

     Country  Unemployment_Rate
0    Albania          25.799999
1  Argentina          97.699999
2    Armenia         179.599998
3  Australia          59.799999
4    Austria          44.000000

In [50]:
# Plot unemployment rate in map

data = [ dict(
        type = 'choropleth',
        locations = unemplgroup['Country'],
        locationmode = 'country names',
        z = unemplgroup['Unemployment_Rate'],
        text = unemplgroup['Country'],
       colorscale='Viridis',
        autocolorscale = False,
        reversescale = True,
        marker = dict(
            line = dict (
                color = 'rgb(180,180,180)',
                width = 0.5
            ) ),
        colorbar = dict(
            autotick = False,
            tickprefix = '',
            title = 'Unemployment Rate'),
)]

layout = {"title":"Youth Unemployment Rate by Country from 2010 to 2014"}


fig = dict( data=data, layout=layout )
plotly.offline.iplot( fig, validate=False, filename='loans-world-map')

We can clearly Identify the most country that has the most unemployment rate which are Spian, South Africa and Serbia as pointed in the map with darck blue colore. On the other hand, the least country with least unemployment rate is Qatar with only 7.3